
<a href="" class="logo">
    <h1>Tesla</h1> 
 </a>
 <nav class="center navBar">
       <a href="">Model S</a>
       <a href="">Model 3</a>
       <a href="">Model X</a>
       <a href="">Model Y</a>
 </nav>

 <nav class="right navBar">
    <a href="">Shop</a>
    <a href="">Home</a>
    <a href="">Menu</a>
 </nav>